<head>
</head>
<body>
<h1><center>Edit and Preview Your Wiki Entry Real-Time</center></h1>
<div class="container">
  <div class="sixteen columns">
  </div>
  <div class="eight columns">
<%= form_for @wiki, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
<div class="control-group">
   <h3> Edit Your Wiki Entry </h3>
    <%= f.label :body, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, size: "60x20"%>
    </div>
  </div>
<div class="control-group">
  <div class="controls">
    <%= f.submit "Save", class: 'btn' %>
  </div>
</div>
</div>

<div class="eight columns">
<h3> Preview Wiki Entry</h3>
<div id="editor" style="width: 300px; height: 250px; border: 1px solid #ccc; text-size: 12pt">
</div>
</div>
</div>

<h3>Current Wiki Collaborators </h3>
<ul>
  <% @collaborators.each do |c| %>
    <li><%= c.user.name %></li>
  <% end %>
</ul>

<%= link_to 'Add or Delete Collaborators', new_wiki_collaborator_path(@wiki) %>

<% end %>
</body>